name: CD

on:
  push:
    branches: [main]
    paths-ignore:
      - .github/**
      - .cz.toml
      - .gitignore
      - .pre-commit-config.yaml
      - .yamllint.yml
      - CHANGELOG.md
  workflow_dispatch:

env:
  # renovate: datasource=go depName=github.com/tj-actions/auto-doc/v3
  AUTO_DOC_VERSION: v3.4.0
  # renovate: datasource=pypi depName=commitizen
  COMMITIZEN_VERSION: 3.12.0

jobs:
  autodoc:
    name: Generate documentation
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          ref: ${{ github.ref_name }}

      - name: Setup Go
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
        with:
          go-version: stable

      - name: Install auto-doc
        run: go install "github.com/tj-actions/auto-doc/v3@$AUTO_DOC_VERSION"

      - name: Run auto-doc
        run: |
          for d in */; do
            pushd "./$d"
            auto-doc --filename ./action.yml --output ./README.md
            git config --global user.name github-actions
            git config --global user.email github-actions@github.com
            git commit -am "docs(${d%/}): auto-update documentation"
            popd
          done
          git push

  release:
    name: Release
    needs: [autodoc]
    if: "!startsWith(github.event.head_commit.message, 'bump:')"
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0

      - name: Dry run
        uses: commitizen-tools/commitizen-action@bc2616fec6b3effc9ad20380f19550a8b18cdbdf # 0.20.0
        with:
          github_token: ${{ github.token }}
          changelog_increment_filename: _changelog.md
          commitizen_version: ${{ env.COMMITIZEN_VERSION }}
          dry_run: true

      - name: Bump
        uses: commitizen-tools/commitizen-action@bc2616fec6b3effc9ad20380f19550a8b18cdbdf # 0.20.0
        with:
          github_token: ${{ github.token }}
          changelog_increment_filename: _changelog.md
          commitizen_version: ${{ env.COMMITIZEN_VERSION }}

      - name: Release
        uses: ncipollo/release-action@6c75be85e571768fa31b40abf38de58ba0397db5 # v1.13.0
        with:
          bodyFile: _changelog.md
          skipIfReleaseExists: true
          tag: ${{ env.REVISION }}
