name: CD

on:
  schedule:
    - cron: "0 0 * * 3" # At 00:00 on Wednesday
  workflow_dispatch:

jobs:
  ci:
    name: CI
    uses: ./.github/workflows/ci.yml
    secrets: inherit

  autodoc:
    name: Generate documentation
    needs: [ci]
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        with:
          ref: ${{ github.ref_name }}

      - name: Setup Go
        uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
        with:
          cache: false
          go-version: stable

      - name: Install auto-doc
        run: go install github.com/tj-actions/auto-doc/v3@latest

      - name: Run auto-doc
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
          for d in */; do
            pushd "./$d"
            auto-doc --filename ./action.yml --output ./README.md
            git add .
            git diff --quiet --cached || git commit -m "docs(${d%/}): auto-update documentation"
            popd
          done
          git push

  release:
    name: Release
    needs: [autodoc]
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
        with:
          fetch-depth: 0

      - name: Get version
        id: latest-tag
        run: echo "tag=$(git describe --tags --abbrev=0)" >> "$GITHUB_OUTPUT"

      - name: Dry run
        uses: commitizen-tools/commitizen-action@1f11eb222996406681d2bfa1eb3d997eca46557c # 0.21.0
        with:
          github_token: ${{ github.token }}
          changelog_increment_filename: _changelog.md
          dry_run: true

      - name: Bump
        id: cz
        uses: commitizen-tools/commitizen-action@1f11eb222996406681d2bfa1eb3d997eca46557c # 0.21.0
        with:
          github_token: ${{ github.token }}
          changelog_increment_filename: _changelog.md

      - name: Check if version bumped
        id: check-tag
        run: |
          [ "${{ steps.latest-tag.outputs.tag }}" != "${{ steps.cz.outputs.version }}" ] && bump=true
          echo "bump=$bump" >> "$GITHUB_OUTPUT"

      - name: Release
        if: steps.check-tag.outputs.bump == 'true'
        uses: ncipollo/release-action@2c591bcc8ecdcd2db72b97d6147f871fcd833ba5 # v1.14.0
        with:
          bodyFile: _changelog.md
          skipIfReleaseExists: true
          tag: ${{ steps.cz.outputs.version }}
